main {
  height: 100%;
  position: relative;
  overflow: hidden;
}
main .hero {
  position: fixed;
  top: 0;
  z-index: -100;
  width: 100%;
  height: 100vh;
  background-image: url("../img/printer-2847970.jpg");
  background-size: cover;
  background-position: 55% 65%;
}
main .hero__shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-darkone);
  opacity: 0.85;
}

section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.02em solid var(--color-red);
}

p {
  font-size: 1.4rem;
  color: var(--color-light);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-light: #f3f6f4;
  --color-lightmore: #b7b7b7;
  --color-red: #d00606;
  --color-darkred: #990000;
  --color-darklight: #1d1d1d;
  --color-darklightopacity: rgba(29, 29, 29, 0.8);
  --color-darkone: #111111;
  --color-darktwo: #000000;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
}

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 100;
}
nav .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0em 3em;
  background-color: var(--color-darklight);
  border-bottom: 0.04em solid var(--color-red);
}
nav .wrapper .logo {
  width: 28%;
  height: 28%;
  margin: 0.4em 0em 0em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .wrapper .logo a img {
  width: 35%;
  height: 35%;
}
nav .wrapper .language {
  position: absolute;
  left: 20%;
  width: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .wrapper .language a {
  text-decoration: none;
  color: var(--color-light);
}
nav .wrapper .language .red {
  color: var(--color-red);
}
nav .wrapper .navbar {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8em 0em 12em 0em;
  top: 60px;
  left: 0;
  background-color: var(--color-darklight);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  z-index: 100;
}
nav .wrapper .navbar__link {
  position: relative;
  color: var(--color-light);
  font-size: 1.6em;
  text-decoration: none;
  padding-bottom: 0.1em;
  margin: 0.2em 0;
  -webkit-transition: border-bottom 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .wrapper .navbar__link::before {
  position: absolute;
  content: "";
  border-bottom: 0.08em solid var(--color-red);
  width: 0%;
  bottom: 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
nav .wrapper .navbar__link:hover::before {
  width: 100%;
}
nav .wrapper .navbar__link:hover {
  color: var(--color-red);
}
nav .wrapper .actionnav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
nav .wrapper .burger {
  font-size: 3rem;
  padding: 0.4em;
  color: var(--color-light);
  cursor: pointer;
}
nav .wrapper .burger .hide {
  display: none;
}

.sectionhome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 6em 2em 2em 2em;
}
.sectionhome .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 100%;
  padding: 1em;
}
.sectionhome .cards__cardone {
  width: 90%;
  height: 47%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--color-darklightopacity);
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.sectionhome .cards__cardone--img {
  height: 30%;
  margin-bottom: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionhome .cards__cardone--img .imgcardone {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.sectionhome .cards__cardone--img .imgcardoneview {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.sectionhome .cards__cardone--heading {
  font-size: 3rem;
  color: var(--color-lightmore);
  margin-bottom: 0.8em;
}
.sectionhome .cards__cardtwo {
  width: 90%;
  height: 47%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--color-darklightopacity);
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.sectionhome .cards__cardtwo--img {
  height: 30%;
  margin-bottom: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionhome .cards__cardtwo--img .imgcardtwo {
  width: 40%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.sectionhome .cards__cardtwo--img .imgcardoneview {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.sectionhome .cards__cardtwo--btn {
  width: 100%;
  padding: 0.4em 0;
  background-color: var(--color-red);
  border: 0.04em solid var(--color-darkred);
  border-radius: 0.3em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.sectionhome .cards__cardtwo--btn:hover {
  background-color: var(--color-darkred);
}
.sectionhome .cards__cardtwo--btn a {
  text-decoration: none;
  color: var(--color-light);
  text-transform: uppercase;
}
.sectionhome .cards .actioncards {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.aboutus {
  height: 100%;
  padding: 1em 2em 2em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutus .cards {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutus .cards .card {
  margin: 0.8em;
  padding: 1em;
  width: 40%;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: var(--color-light);
  border: 0.04em solid var(--color-darklight);
  margin-bottom: 1em;
}
.aboutus .cards .card i {
  color: var(--color-red);
  font-size: 1.8em;
  margin-bottom: 0.2em;
}
.aboutus .cards .card__heading {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 0.4em;
}
.aboutus .cards .card h4 {
  font-size: 1.2rem;
}
.aboutus .cards .card .card__btn {
  opacity: 0;
}
.aboutus .cards .card__btn {
  width: 70%;
  padding: 0.4em 0;
  background-color: var(--color-red);
  border: 0.04em solid var(--color-darkred);
  border-radius: 0.3em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.aboutus .cards .card__btn:hover {
  background-color: var(--color-darkred);
}
.aboutus .cards .card__btn a {
  text-decoration: none;
  color: var(--color-light);
  text-transform: uppercase;
}

@media (max-width: 576px) {
  nav .wrapper {
    padding: 0em 1em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav .wrapper .logo {
    position: absolute;
    left: 5%;
    width: 40%;
    height: 40%;
  }
  nav .wrapper .language {
    position: absolute;
    left: 23%;
    width: 15%;
  }
  nav .wrapper .burger {
    position: absolute;
    right: 4%;
    z-index: 10;
  }
  .sectionhome {
    padding: 4.8em 0.8em 1em 0.8em;
  }
  .sectionhome .cards {
    width: 100%;
  }
  .sectionhome .cards__cardone--img {
    height: 30%;
  }
  .sectionhome .cards__cardone--text {
    font-size: 1.2rem;
  }
  .sectionhome .cards__cardtwo--img {
    height: 30%;
  }
  .sectionhome .cards__cardtwo--text {
    font-size: 1.2rem;
  }
  .sectionhome .cards__cardtwo--btn {
    margin-top: 1.2em;
  }
}
@media (min-width: 768px) {
  nav .wrapper {
    position: relative;
  }
  nav .wrapper .logo a img {
    width: 25%;
    height: 25%;
  }
  nav .wrapper .language {
    width: 7%;
    left: 15%;
  }
  nav .wrapper .navbar {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 65%;
    height: 100%;
    top: 0;
    padding: 0;
    background: transparent;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  nav .wrapper .navbar a {
    font-size: 2.2rem;
  }
  nav .wrapper .burger {
    display: none;
  }
  .sectionhome {
    padding: 8em 2em 4em 2em;
  }
  .sectionhome .cards {
    width: 60%;
    -ms-flex-item-align: start;
        align-self: start;
    padding: 0.4em;
    overflow: hidden;
  }
  .sectionhome .cards__cardone {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: opacity 1s ease-in-out, -webkit-transform 0.3s;
    transition: opacity 1s ease-in-out, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 1s ease-in-out;
    transition: transform 0.3s, opacity 1s ease-in-out, -webkit-transform 0.3s;
  }
  .sectionhome .cards__cardone--img {
    height: 40%;
    margin-bottom: 0.2em;
  }
  .sectionhome .cards__cardone--img .imgcardone {
    width: 50%;
  }
  .sectionhome .cards__cardone--heading {
    font-size: 4.8rem;
    margin-bottom: 0.4em;
  }
  .sectionhome .cards__cardtwo {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: opacity 1s ease-in-out, -webkit-transform 0.3s;
    transition: opacity 1s ease-in-out, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 1s ease-in-out;
    transition: transform 0.3s, opacity 1s ease-in-out, -webkit-transform 0.3s;
  }
  .sectionhome .cards__cardtwo--img {
    height: 40%;
    margin-bottom: 0.2em;
  }
  .sectionhome .cards__cardtwo--img .imgcardtwo {
    width: 50%;
  }
}
@media (min-width: 992px) {
  nav .wrapper .logo a img {
    width: 23%;
    height: 23%;
  }
  nav .wrapper .language {
    left: 15%;
    width: 7%;
  }
  nav .wrapper .navbar {
    width: 58%;
  }
  .sectionhome .cards {
    padding: 0.4em;
  }
  .sectionhome .cards__cardone--img {
    margin-bottom: 1.2em;
  }
  .sectionhome .cards__cardone--heading {
    font-size: 4.2rem;
  }
  .sectionhome .cards__cardtwo--img {
    margin-bottom: 1.2em;
  }
}
@media (min-width: 1200px) {
  nav .wrapper .logo {
    width: 25%;
    height: 25%;
  }
  nav .wrapper .language {
    left: 12%;
    width: 6%;
  }
  .sectionhome {
    padding: 6em 2em 2em 2em;
  }
  .sectionhome .cards {
    padding: 0.4em;
  }
  .sectionhome .cards__cardone {
    padding: 3em;
    height: 47%;
  }
  .sectionhome .cards__cardone--img {
    margin-bottom: 1.2em;
  }
  .sectionhome .cards__cardone--heading {
    font-size: 6rem;
  }
  .sectionhome .cards__cardone--text {
    font-size: 1.8rem;
  }
  .sectionhome .cards__cardtwo {
    padding: 3em;
    height: 47%;
  }
  .sectionhome .cards__cardtwo--img {
    margin-bottom: 1.2em;
  }
  .sectionhome .cards__cardtwo--text {
    font-size: 1.8rem;
  }
}
@media (min-width: 1400px) {
  nav .wrapper .logo {
    max-width: 18%;
    max-height: 18%;
  }
  nav .wrapper .language {
    left: 10%;
    width: 5%;
  }
  nav .wrapper .navbar {
    width: 50%;
  }
  .sectionhome {
    padding: 6em 2em 2em 8em;
  }
  .sectionhome .cards {
    width: 40%;
    padding: 0.4em;
    overflow: hidden;
  }
  .sectionhome .cards__cardone--img {
    margin-bottom: 1.2em;
  }
  .sectionhome .cards__cardone--heading {
    font-size: 6rem;
  }
  .sectionhome .cards__cardone--text {
    font-size: 1.8rem;
  }
  .sectionhome .cards__cardtwo {
    padding: 3em;
    height: 47%;
  }
  .sectionhome .cards__cardtwo--img {
    margin-bottom: 1.2em;
  }
  .sectionhome .cards__cardtwo--text {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=style.css.map */