main {
  height: 100%;
  position: relative;
  overflow: hidden;
}
main h1 {
  color: var(--color-light);
  font-size: 2.4em;
}
main .hero {
  position: fixed;
  top: 0;
  z-index: -100;
  width: 100%;
  height: 100vh;
  background-image: url("../img/printer-2847970.jpg");
  background-size: cover;
  background-position: 55% 65%;
}
main .hero__shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-darkone);
  opacity: 0.8;
}
main .cookie {
  width: 30%;
  background-color: var(--color-darkone);
  position: fixed;
  top: 87vh;
  right: 3%;
  padding: 1em;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.04em solid var(--color-red);
}
main .cookie__text {
  font-size: 1.4rem;
  margin-bottom: 0.02em;
}
main .cookie__btn {
  margin-top: 0.5em;
  width: 100%;
  background-color: var(--color-red);
  border: none;
  padding: 0.4em;
  color: var(--color-light);
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
main .cookie__btn:hover {
  background-color: var(--color-darkred);
}
main .nocookie {
  display: none;
}

button {
  width: 100%;
  padding: 0.4em 0;
  margin-top: 1em;
  background-color: var(--color-red);
  border: 0.04em solid var(--color-darkred);
  border-radius: 0.3em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
button:hover {
  background-color: var(--color-darkred);
}
button a {
  text-decoration: none;
  color: var(--color-light);
  text-transform: uppercase;
}

section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 0.02em solid var(--color-red);
}

p {
  font-size: 1.4rem;
  color: var(--color-light);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-light: #f3f6f4;
  --color-lightmore: #b7b7b7;
  --color-red: #d00606;
  --color-darkred: #990000;
  --color-rederrors: rgba(51, 0, 0, 0.6);
  --color-darklight: #1d1d1d;
  --color-darklightopacity: rgba(29, 29, 29, 0.8);
  --color-darkone: #111111;
  --color-darktwo: #000000;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.6rem;
}

nav {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  z-index: 100;
}
nav .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0em 3em;
  background-color: var(--color-darklight);
  border-bottom: 0.04em solid var(--color-red);
}
nav .wrapper .logo {
  width: 28%;
  height: 28%;
  margin: 0.4em 0em 0em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .wrapper .logo a img {
  width: 35%;
  height: 35%;
}
nav .wrapper .language {
  position: absolute;
  left: 20%;
  width: 9%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .wrapper .language a {
  text-decoration: none;
  color: var(--color-light);
}
nav .wrapper .language .red {
  color: var(--color-red);
}
nav .wrapper .navbar {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 8em 0em 12em 0em;
  top: 60px;
  left: 0;
  background-color: var(--color-darklight);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  z-index: 100;
}
nav .wrapper .navbar__link {
  position: relative;
  color: var(--color-light);
  font-size: 1.6em;
  text-decoration: none;
  padding-bottom: 0.1em;
  margin: 0.2em 0;
  -webkit-transition: border-bottom 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav .wrapper .navbar__link::before {
  position: absolute;
  content: "";
  border-bottom: 0.08em solid var(--color-red);
  width: 0%;
  bottom: 0;
  -webkit-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}
nav .wrapper .navbar__link:hover::before {
  width: 100%;
}
nav .wrapper .navbar__link:hover {
  color: var(--color-red);
}
nav .wrapper .actionnav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
nav .wrapper .burger {
  font-size: 3rem;
  padding: 0.4em;
  color: var(--color-light);
  cursor: pointer;
}
nav .wrapper .burger .hide {
  display: none;
}

.sectionhome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 6em 2em 2em 2em;
}
.sectionhome .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 840px;
  padding: 1em;
}
.sectionhome .cards__cardone {
  width: 90%;
  height: 47%;
  padding: 2em;
  margin-bottom: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--color-darklightopacity);
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.sectionhome .cards__cardone--img {
  height: 60%;
  width: 100%;
  margin-bottom: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectionhome .cards__cardone--img .imgcardone {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.sectionhome .cards__cardone--img .imgcardoneview {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.sectionhome .cards__cardone--heading {
  font-size: 5.6rem;
  color: var(--color-lightmore);
  margin-bottom: 0.8em;
}
.sectionhome .cards__cardtwo {
  width: 90%;
  height: 47%;
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: var(--color-darklightopacity);
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  opacity: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}
.sectionhome .cards .actioncards {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1;
}

.sectionaboutus {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4em 2em 2em 2em;
}
.sectionaboutus .cardabout {
  position: relative;
  width: 70%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1em;
  padding: 1.4em;
  border: 0.02em solid var(--color-red);
}
.sectionaboutus .cardabout:hover {
  background-color: var(--color-rederrors);
}
.sectionaboutus .cardabout__heading {
  font-size: 2.8rem;
  color: var(--color-light);
}
.sectionaboutus .cardabout__img {
  width: 100%;
  height: 40%;
}
.sectionaboutus .cardabout__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectionaboutus .cardabout .imganime {
  width: 100%;
  height: 40%;
}
.sectionaboutus .cardabout .imganime img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectionaboutus .cardabout .btnanime {
  position: absolute;
  width: 70%;
  bottom: 10%;
}

.sectionoffer {
  height: 100%;
  padding: 6em 2em 2em 2em;
}
.sectionoffer .offer {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sectionoffer .offer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sectionoffer .offer__text--heading {
  font-size: 2.8rem;
  color: var(--color-light);
  margin-bottom: 3rem;
}
.sectionoffer .offer__text--list {
  width: 100%;
  color: var(--color-light);
}
.sectionoffer .offer__text--list ul li {
  font-size: 1.8rem;
  margin-bottom: 1.2em;
  padding-bottom: 0.4em;
  border-bottom: 0.02em solid var(--color-red);
}
.sectionoffer .offer__img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.sectionoffer .offer__img img {
  width: 45%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 0.02em solid var(--color-red);
  -webkit-box-shadow: 0.1em 0.1em 0em var(--color-red);
          box-shadow: 0.1em 0.1em 0em var(--color-red);
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}
.sectionoffer .offer__img .actionofferone {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.sectiongallery {
  position: relative;
  height: 100%;
  padding: 6em 2em 2em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.sectiongallery .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.sectiongallery .text__info {
  font-size: 2.2rem;
}
.sectiongallery .fotogallery {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sectiongallery .fotogallery .photo {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 43%;
  margin-bottom: 1em;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.sectiongallery .fotogallery .photo:hover {
  border: 0.02em solid var(--color-red);
  -webkit-box-shadow: 0.1em 0.1em 0em var(--color-red);
          box-shadow: 0.1em 0.1em 0em var(--color-red);
}
.sectiongallery .fotogallery .photo__main {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectiongallery .fotogallery .photo__text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2.8rem;
  color: var(--color-light);
  z-index: 1;
}
.sectiongallery .fotogallery .photo__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--color-darklightopacity);
}
.sectiongallery .fotogallery .actionphotomain {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.sectiongallery .fotogallery .video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  height: 43%;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.sectiongallery .fotogallery .video:hover {
  border: 0.02em solid var(--color-red);
  -webkit-box-shadow: 0.1em 0.1em 0em var(--color-red);
          box-shadow: 0.1em 0.1em 0em var(--color-red);
}
.sectiongallery .fotogallery .video__main {
  position: relative;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectiongallery .fotogallery .video__text {
  position: absolute;
  font-size: 2.8rem;
  color: var(--color-light);
  z-index: 1;
}
.sectiongallery .fotogallery .video__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--color-darklightopacity);
}
.sectiongallery .fotogallery .actionvideomain {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.sectiongallery .photoswiper {
  position: absolute;
  top: 40%;
  width: 80%;
  height: 40%;
  visibility: hidden;
}
.sectiongallery .swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.sectiongallery .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectiongallery .swiper-slide h3 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.4em;
  bottom: 0;
  font-size: 3rem;
  width: 100%;
  color: var(--color-light);
  font-weight: 200;
  background-color: var(--color-darklightopacity);
}
.sectiongallery .swiper-slide .xmark {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 4rem;
  color: var(--color-darkone);
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.sectiongallery .swiper-slide .xmark:hover {
  color: var(--color-red);
}
.sectiongallery .swiper-button-next,
.sectiongallery .swiper-button-prev {
  color: var(--color-darklight);
}
.sectiongallery .swiper-button-next:hover,
.sectiongallery .swiper-button-prev:hover {
  color: var(--color-red);
}
.sectiongallery .swiper-pagination {
  bottom: 20%;
}
.sectiongallery .swiperaction {
  visibility: visible;
}
.sectiongallery .videoswiper {
  position: absolute;
  top: 40%;
  width: 85%;
  height: 40%;
  visibility: hidden;
}
.sectiongallery .video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.sectiongallery .video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sectiongallery .video .xmarkvideo {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 4rem;
  color: var(--color-darkone);
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.sectiongallery .video .xmarkvideo:hover {
  color: var(--color-red);
}
.sectiongallery .next,
.sectiongallery .prev {
  color: var(--color-darklight);
}
.sectiongallery .next:hover,
.sectiongallery .prev:hover {
  color: var(--color-red);
}
.sectiongallery .swiper-pagination {
  bottom: 20%;
}
.sectiongallery .videoaction {
  visibility: visible;
}

.sectioncontact {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8em 2em 2em 2em;
}
.sectioncontact .boxcontact {
  width: 100%;
  height: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sectioncontact .boxcontact__heading {
  font-size: 2.8rem;
  color: var(--color-light);
}
.sectioncontact .boxcontact .contactform {
  width: 100%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sectioncontact .boxcontact .contactform .contactbox {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.8rem;
}
.sectioncontact .boxcontact .contactform .contactbox label {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: var(--color-light);
  margin-bottom: 0.4em;
  font-size: 1.8rem;
}
.sectioncontact .boxcontact .contactform .contactbox input {
  width: 100%;
  padding: 0.6em;
  margin-bottom: 0.8em;
  font-size: 1.8rem;
  color: var(--color-light);
  background-color: var(--color-darklightopacity);
  border: 0.02em solid var(--color-red);
}
.sectioncontact .boxcontact .contactform .contactbox textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
  padding: 0.6em;
  margin-bottom: 0.8em;
  font-size: 1.8rem;
  color: var(--color-light);
  border: 0.02em solid var(--color-red);
  background-color: var(--color-darklightopacity);
}
.sectioncontact .boxcontact .contactform .contactbox .backerror {
  background-color: var(--color-rederrors);
  border: 0.02em solid var(--color-light);
}
.sectioncontact .boxcontact .contactform .contactbox p {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 2.8rem;
  color: var(--color-red);
  visibility: hidden;
}
.sectioncontact .boxcontact .contactform .contactbox .actionerror {
  visibility: visible;
}
.sectioncontact .boxcontact .contactform .btncontact {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sectioncontact .boxcontact .contactform .btncontact .btnsend,
.sectioncontact .boxcontact .contactform .btncontact .btnclean {
  width: 45%;
  padding: 0.4em 0;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--color-light);
}
.sectioncontact .boxcontact .msgstatus {
  position: absolute;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  width: 82%;
  height: 50px;
  top: 9%;
  color: var(--color-light);
  font-size: 3rem;
  background-color: var(--color-darklightopacity);
  border: 0.02em solid var(--color-red);
}
.sectioncontact .boxcontact .sendsuccess {
  visibility: visible;
}
.sectioncontact .boxcontact .senderror {
  visibility: visible;
  background-color: var(--color-red);
  border: 0.02em solid var(--color-light);
}

footer {
  width: 100%;
  height: 80px;
  padding: 2em 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footercompany {
  padding-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 47%;
}
footer .footercompany img {
  width: 25%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footercompany__text {
  color: var(--color-lightmore);
  font-size: 2rem;
}
footer .footerproducer {
  width: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footerproducer__text {
  font-size: 1.4rem;
}
footer .footerproducer__info {
  font-size: 1.4rem;
  color: var(--color-lightmore);
}
footer .footerproducer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.2em;
}
footer .footerproducer .contact a {
  text-decoration: none;
  color: var(--color-light);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
footer .footerproducer .contact a:hover {
  color: var(--color-red);
}

@media (max-width: 576px) {
  nav .wrapper {
    padding: 0em 1em;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  nav .wrapper .logo {
    position: absolute;
    left: 5%;
    width: 40%;
    height: 40%;
  }
  nav .wrapper .language {
    position: absolute;
    left: 23%;
    width: 15%;
  }
  nav .wrapper .burger {
    position: absolute;
    right: 4%;
    z-index: 10;
  }
  main .cookie {
    width: 70%;
    top: 83%;
  }
  .sectionhome {
    height: 100vh;
    padding: 6em 0.8em 1em 0.8em;
  }
  .sectionhome .cards {
    width: 100%;
    height: 100%;
  }
  .sectionhome .cards__cardone {
    height: 47%;
  }
  .sectionhome .cards__cardone--img {
    height: 60%;
  }
  .sectionhome .cards__cardone--heading {
    font-size: 2.6rem;
  }
  .sectionhome .cards__cardone--text {
    font-size: 1.2rem;
  }
  .sectionhome .cards__cardtwo {
    height: 47%;
  }
  .sectionhome .cards__cardtwo--heading {
    font-size: 2rem;
  }
  .sectionhome .cards__cardtwo--text {
    font-size: 1.2rem;
  }
  .sectionhome .cards__cardtwo--btn {
    margin-top: 1.2em;
  }
  .sectionaboutus {
    height: 100%;
    padding: 6em 2em 2em 2em;
  }
  .sectionaboutus .cardabout {
    width: 100%;
    height: 400px;
    margin: 0em 0em 1.8em 0em;
  }
  .sectionaboutus .cardabout__heading {
    font-size: 3rem;
  }
  .sectionaboutus .cardabout__text {
    font-size: 1.8rem;
  }
  .sectionoffer {
    height: 100vh;
    padding: 2em 2em 2em 2em;
  }
  .sectionoffer .offer {
    width: 90%;
  }
  .sectionoffer .offer__text--heading {
    font-size: 2rem;
    margin-bottom: 1.4em;
  }
  .sectionoffer .offer__text--list ul {
    margin-bottom: 1.2em;
  }
  .sectionoffer .offer__text--list ul li {
    margin-bottom: 1.2em;
    padding-bottom: 0.6em;
    font-size: 1.2rem;
  }
  .sectionoffer .offer__img .actionofferzero {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .sectiongallery {
    height: 100vh;
  }
  .sectiongallery .text {
    width: 100%;
  }
  .sectiongallery .text__info {
    font-size: 1.8rem;
  }
  .sectiongallery .fotogallery .photo {
    width: 100%;
  }
  .sectiongallery .fotogallery .video {
    width: 100%;
  }
  .sectiongallery .swiper-slide h3 {
    font-size: 2rem;
  }
  .sectiongallery .swiper-slide .xmark {
    font-size: 3rem;
  }
  .sectiongallery .swiper-pagination {
    bottom: 17%;
  }
  .sectiongallery .video .xmarkvideo {
    font-size: 2em;
  }
  .sectiongallery .pagination {
    bottom: 30%;
  }
  .sectioncontact {
    height: 100vh;
    padding: 4em 2em 2em 2em;
  }
  .sectioncontact .boxcontact__heading {
    font-size: 1.8rem;
  }
  .sectioncontact .boxcontact .contactform .contactbox {
    margin-bottom: 0.2em;
  }
  .sectioncontact .boxcontact .contactform .contactbox label {
    font-size: 1.4rem;
  }
  .sectioncontact .boxcontact .contactform .contactbox input {
    padding: 0.4em;
    font-style: 1rem;
    margin-bottom: 0.2em;
    font-size: 1.4rem;
  }
  .sectioncontact .boxcontact .contactform .contactbox textarea {
    min-height: 120px;
    max-height: 100px;
    font-size: 1.4rem;
    margin-bottom: 0.2em;
  }
  .sectioncontact .boxcontact .contactform .contactbox p {
    font-size: 1.4rem;
    margin-bottom: 0.2em;
  }
  .sectioncontact .boxcontact .msgstatus {
    width: 75%;
    height: 40px;
    top: 22%;
    font-size: 1.6rem;
  }
  footer {
    padding: 2em 0.6em;
  }
  footer .footercompany {
    padding-left: 0;
  }
  footer .footercompany img {
    width: 30%;
  }
  footer .footercompany__text {
    font-size: 1.2rem;
  }
  footer .footerproducer__text {
    font-size: 1.2rem;
  }
  footer .footerproducer__info {
    font-size: 1.2rem;
  }
  footer .footerproducer .contact {
    width: 100%;
  }
  footer .footerproducer .contact a {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  nav .wrapper {
    position: relative;
  }
  nav .wrapper .logo a img {
    width: 24.7%;
    height: 24.7%;
  }
  nav .wrapper .language {
    width: 7%;
    left: 15%;
  }
  nav .wrapper .navbar {
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 65%;
    height: 100%;
    top: 0;
    padding: 0;
    background: transparent;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  nav .wrapper .navbar a {
    font-size: 2.2rem;
  }
  nav .wrapper .burger {
    display: none;
  }
  .sectionhome {
    height: 100vh;
    padding: 8em 2em 4em 2em;
  }
  .sectionhome .cards {
    width: 70%;
    -ms-flex-item-align: start;
        align-self: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.4em;
    overflow: hidden;
  }
  .sectionhome .cards__cardone {
    margin-bottom: 1.2em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: opacity 1s ease-in-out, -webkit-transform 0.3s;
    transition: opacity 1s ease-in-out, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 1s ease-in-out;
    transition: transform 0.3s, opacity 1s ease-in-out, -webkit-transform 0.3s;
  }
  .sectionhome .cards__cardone--img {
    width: 100%;
    margin-bottom: 0.2em;
  }
  .sectionhome .cards__cardone--img .imgcardone {
    width: 45%;
  }
  .sectionhome .cards__cardone--heading {
    font-size: 4.8rem;
    margin-bottom: 0.04em;
  }
  .sectionhome .cards__cardtwo {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-transition: opacity 1s ease-in-out, -webkit-transform 0.3s;
    transition: opacity 1s ease-in-out, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 1s ease-in-out;
    transition: transform 0.3s, opacity 1s ease-in-out, -webkit-transform 0.3s;
  }
  .sectionaboutus {
    padding: 6em 2em 2em 2em;
    height: 100vh;
  }
  .sectionaboutus .cardabout {
    margin: 1em;
    width: 47%;
    height: 360px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
  }
  .sectionaboutus .cardabout__heading {
    font-size: 3.4rem;
  }
  .sectionaboutus .cardabout__text {
    font-size: 1.8rem;
  }
  .sectionaboutus .cardabout__img {
    height: 50%;
  }
  .sectionaboutus .cardabout .imganime {
    height: 50%;
  }
  .sectionaboutus .actioncardsaboutus {
    opacity: 1;
  }
  .sectionoffer {
    padding: 2em 2em 2em 2em;
    height: 100vh;
  }
  .sectionoffer .offer {
    padding: 0em 2em;
  }
  .sectionoffer .offer__text {
    margin-bottom: 2em;
  }
  .sectionoffer .offer__text--heading {
    font-size: 3.6rem;
  }
  .sectionoffer .offer__text--list ul li {
    font-size: 2rem;
  }
  .sectionoffer .offer__img img {
    -webkit-box-shadow: 0.3em 0.3em 0em var(--color-red);
            box-shadow: 0.3em 0.3em 0em var(--color-red);
  }
  .sectiongallery {
    height: 100vh;
  }
  .sectiongallery .photoswiper {
    top: 30%;
    width: 80%;
    height: 60%;
  }
  .sectiongallery .swiper-pagination {
    bottom: 15%;
  }
  .sectiongallery .videoswiper {
    top: 30%;
    width: 80%;
    height: 60%;
  }
  .sectiongallery .swiper-slide .xmark {
    top: 2%;
    right: 2%;
  }
  .sectiongallery .video .xmarkvideo {
    top: 2%;
    right: 2%;
  }
  .sectioncontact {
    padding: 4em 2em 2em 2em;
    height: 100vh;
  }
  .sectioncontact .boxcontact .msgstatus {
    width: 83%;
    top: 20%;
  }
  footer .footercompany {
    padding-left: 2em;
  }
  footer .footercompany img {
    width: 20%;
  }
  footer .footerproducer .contact {
    width: 50%;
  }
}
@media (min-width: 992px) {
  nav .wrapper .logo a img {
    width: 22%;
    height: 22%;
  }
  nav .wrapper .language {
    left: 15%;
    width: 7%;
  }
  nav .wrapper .navbar {
    width: 58%;
  }
  .sectionhome .cards {
    width: 60%;
    padding: 0.4em;
  }
  .sectionhome .cards__cardone {
    height: 47%;
  }
  .sectionhome .cards__cardone--img {
    width: 100%;
    margin-bottom: 1.2em;
  }
  .sectionhome .cards__cardone--img .imgcardone {
    width: 35%;
  }
  .sectionhome .cards__cardone--heading {
    font-size: 5.8rem;
  }
  .sectionhome .cards__cardtwo {
    height: 47%;
  }
  .sectionhome .cards__cardtwo--btn {
    margin-top: 0;
  }
  .sectionoffer .offer__text {
    margin-bottom: 4em;
  }
  .sectionoffer .offer__text--list ul li {
    margin-bottom: 0.6em;
  }
  .sectiongallery .fotogallery .photo {
    height: 46%;
  }
  .sectiongallery .fotogallery .photo:hover {
    border: 0.02em solid var(--color-red);
    -webkit-box-shadow: 0.25em 0.25em 0em var(--color-red);
            box-shadow: 0.25em 0.25em 0em var(--color-red);
  }
  .sectiongallery .fotogallery .photo__text {
    font-size: 4rem;
  }
  .sectiongallery .fotogallery .video {
    height: 46%;
  }
  .sectiongallery .fotogallery .video:hover {
    border: 0.02em solid var(--color-red);
    -webkit-box-shadow: 0.25em 0.25em 0em var(--color-red);
            box-shadow: 0.25em 0.25em 0em var(--color-red);
  }
  .sectiongallery .fotogallery .video__text {
    font-size: 4rem;
  }
  .sectiongallery .photoswiper {
    top: 30%;
    width: 80%;
    height: 60%;
  }
  .sectiongallery .swiper-pagination {
    bottom: 15%;
  }
  .sectiongallery .videoswiper {
    top: 30%;
    width: 80%;
    height: 60%;
  }
  .sectioncontact .boxcontact .msgstatus {
    width: 84%;
  }
  footer .footercompany img {
    width: 16%;
  }
}
@media (min-width: 1200px) {
  nav .wrapper .logo {
    width: 24%;
    height: 24%;
  }
  nav .wrapper .language {
    left: 12%;
    width: 6%;
  }
  main .cookie {
    width: 30%;
  }
  .sectionhome {
    padding: 6em 2em 2em 2em;
  }
  .sectionhome .cards {
    padding: 0.4em;
  }
  .sectionhome .cards__cardone {
    padding: 1.8em;
    height: 47%;
  }
  .sectionhome .cards__cardone--img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 0.6em;
  }
  .sectionhome .cards__cardone--img .imgcardone {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sectionhome .cards__cardone--heading {
    font-size: 6rem;
  }
  .sectionhome .cards__cardone--text {
    font-size: 1.8rem;
  }
  .sectionhome .cards__cardtwo {
    padding: 1.8em;
    height: 47%;
  }
  .sectionhome .cards__cardtwo--text {
    font-size: 1.8rem;
  }
  .sectionaboutus .cardabout {
    width: 46%;
    height: 45%;
  }
  .sectionaboutus .cardabout__img {
    height: 57%;
  }
  .sectionaboutus .cardabout .imganime {
    height: 57%;
  }
  .sectionoffer {
    padding: 6em 8em 2em 8em;
  }
  .sectionoffer .offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 70%;
    padding: 0;
    margin: 0;
  }
  .sectionoffer .offer__text {
    padding: 0;
    margin: 0;
    width: 56%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sectionoffer .offer__text--list ul li {
    margin-bottom: 1.4em;
  }
  .sectionoffer .offer__text--list ul li:nth-last-child(1) {
    margin-bottom: 0;
  }
  .sectionoffer .offer__img {
    padding: 0.2em 0em 0.2em 0em;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 40%;
    height: 100%;
  }
  .sectionoffer .offer__img img {
    width: 100%;
    height: 40%;
  }
  .sectiongallery .text__info {
    font-size: 3rem;
  }
  .sectioncontact .boxcontact .msgstatus {
    width: 85%;
  }
}
@media (min-width: 1400px) {
  nav .wrapper .logo {
    max-width: 16%;
    max-height: 16%;
  }
  nav .wrapper .language {
    left: 10%;
    width: 5%;
  }
  nav .wrapper .navbar {
    width: 50%;
  }
  main .cookie {
    width: 20%;
  }
  .sectionhome {
    padding: 6em 2em 2em 8em;
  }
  .sectionhome .cards {
    width: 42%;
    padding: 0.4em;
    overflow: hidden;
  }
  .sectionhome .cards__cardone--img {
    margin-bottom: 0.4em;
  }
  .sectionhome .cards__cardone--heading {
    font-size: 6rem;
  }
  .sectionhome .cards__cardone--text {
    font-size: 1.8rem;
  }
  .sectionhome .cards__cardtwo {
    height: 47%;
  }
  .sectionhome .cards__cardtwo--text {
    font-size: 1.8rem;
  }
  .sectionaboutus {
    padding: 6em 1em 1em 1em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .sectionaboutus .cardabout {
    width: 20%;
    height: 70%;
  }
  .sectionaboutus .cardabout__img {
    height: 50%;
  }
  .sectionaboutus .cardabout .imganime {
    height: 50%;
  }
  .sectionoffer .offer__text--heading {
    font-size: 4.6rem;
  }
  .sectionoffer .offer__text--list ul li {
    font-size: 2.2rem;
    margin-bottom: 0.6em;
  }
  .sectionoffer .offer__img {
    width: 30%;
  }
  .sectionoffer .offer__img img {
    height: 45%;
  }
  .sectiongallery .text {
    width: 50%;
  }
  .sectiongallery .fotogallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90%;
  }
  .sectiongallery .fotogallery .photo {
    width: 47%;
    height: 70%;
  }
  .sectiongallery .fotogallery .video {
    width: 47%;
    height: 70%;
  }
  .sectiongallery .photoswiper {
    top: 30%;
    width: 70%;
    height: 65%;
  }
  .sectiongallery .videoswiper {
    top: 30%;
    width: 70%;
    height: 65%;
  }
  .sectioncontact {
    padding: 4em 2em 4em 2em;
  }
  .sectioncontact .boxcontact__heading {
    font-size: 4.6rem;
  }
  .sectioncontact .boxcontact .contactform .contactbox {
    width: 70%;
  }
  .sectioncontact .boxcontact .contactform .contactbox p {
    margin-bottom: 0.2em;
  }
  .sectioncontact .boxcontact .contactform .btncontact {
    width: 70%;
  }
  .sectioncontact .boxcontact .msgstatus {
    top: 22%;
    width: 67.75%;
  }
  footer .footercompany {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footercompany img {
    width: 11%;
  }
  footer .footerproducer .contact {
    width: 28%;
  }
}/*# sourceMappingURL=style.css.map */