main {
	height: 100%;
	position: relative;
	.hero {
		z-index: -100;
		&__img {
			position: absolute;
			width: 100%;
			height: 100vh;
			top: 0;
			background-image: url('../img/printer-2847970.jpg');
			background-attachment: fixed;
			background-size: cover;
			background-position: 55% 65%;
		}
		&__shadow {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100vh;
			background-color: var(--color-darkone);
			opacity: 0.85;
		}
	}
}

section {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-bottom: 0.02em solid var(--color-red);
}

p {
	font-size: 1.4rem;
	color: var(--color-light);
}
