@media (min-width: 992px) {
	nav {
		.wrapper {
			.logo {
				a {
					img {
						width: 22%;
						height: 22%;
					}
				}
			}
			.language {
				left: 15%;
				width: 7%;
			}
			.navbar {
				width: 58%;
			}
		}
	}
	.sectionhome {
		.cards {
			padding: 0.4em;
			&__cardone {
				height: 47%;
				&--img {
					margin-bottom: 1.2em;
					.imgcardone {
						width: 35%;
					}
				}
				&--heading {
					font-size: 4.2rem;
				}
			}
			&__cardtwo {
				height: 47%;
				&--img {
					margin-bottom: 1.2em;
					.imgcardtwo {
						width: 35%;
					}
				}
				&--btn {
					margin-top: 0;
				}
			}
		}
	}
	.sectionoffer {
		.offer {
			&__text {
				margin-bottom: 4em;
				&--list {
					ul {
						li {
							margin-bottom: 0.6em;
						}
					}
				}
			}
		}
	}

	.sectiongallery {
		.fotogallery {
			.photo {
				height: 46%;
				&:hover {
					border: 0.02em solid var(--color-red);
					box-shadow: 0.25em 0.25em 0em var(--color-red);
				}
				&__text {
					font-size: 4rem;
				}
			}
			.video {
				height: 46%;
				&:hover {
					border: 0.02em solid var(--color-red);
					box-shadow: 0.25em 0.25em 0em var(--color-red);
				}
				&__text {
					font-size: 4rem;
				}
			}
		}
		.photoswiper {
			top: 30%;
			width: 80%;
			height: 60%;
		}
		.swiper-pagination {
			bottom: 15%;
		}
		.videoswiper {
			top: 30%;
			width: 80%;
			height: 60%;
		}
	}

	.sectioncontact {
		.boxcontact {
			.msgstatus {
				width: 84%;
			}
		}
	}
	footer {
		.footercompany {
			img {
				width: 16%;
			}
		}
	}
}
