@media (min-width: 992px) {
	nav {
		.wrapper {
			.logo {
				a {
					img {
						width: 22%;
						height: 22%;
					}
				}
			}
			.language {
				left: 15%;
				width: 7%;
			}
			.navbar {
				width: 58%;
			}
		}
	}
	.sectionhome {
		.cards {
			padding: 0.4em;
			&__cardone {
				&--img {
					margin-bottom: 1.2em;
				}
				&--heading {
					font-size: 4.2rem;
				}
			}
			&__cardtwo {
				&--img {
					margin-bottom: 1.2em;
				}
			}
		}
	}
	.sectionoffer {
		.offer {
			&__text {
				margin-bottom: 4em;
				&--list {
					ul {
						li {
							margin-bottom: 0.6em;
						}
					}
				}
			}
		}
	}
}
