@media (min-width: 768px) {
	nav {
		.wrapper {
			position: relative;
			.logo {
				a {
					img {
						width: 24.7%;
						height: 24.7%;
					}
				}
			}
			.language {
				width: 7%;
				left: 15%;
			}
			.navbar {
				position: relative;
				flex-direction: row;
				width: 65%;
				height: 100%;
				top: 0;
				padding: 0;
				background: transparent;
				transform: translateX(0%);
				a {
					font-size: 2.2rem;
				}
			}
			.burger {
				display: none;
			}
		}
	}

	.sectionhome {
		height: 100vh;
		padding: 8em 2em 4em 2em;
		.cards {
			width: 70%;
			align-self: start;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 0.4em;
			overflow: hidden;
			&__cardone {
				margin-bottom: 1.2em;
				justify-content: space-between;
				transition: transform 0.3s, opacity 1s ease-in-out;
				&--img {
					height: 40%;
					margin-bottom: 0.2em;
					.imgcardone {
						width: 40%;
					}
				}
				&--heading {
					font-size: 4.8rem;
					margin-bottom: 0.04em;
				}
			}
			&__cardtwo {
				justify-content: space-between;
				transition: transform 0.3s, opacity 1s ease-in-out;
			}
		}
	}
	.sectionaboutus {
		padding: 6em 2em 2em 2em;
		height: 100vh;
		.cardabout {
			margin: 1em;
			width: 47%;
			height: 360px;
			// perspective: 1000px;
			// transform: rotateY(0);
			opacity: 0;
			transition: opacity 0.5s ease-in-out;
			&__heading {
				font-size: 3.4rem;
			}
			&__text {
				font-size: 1.8rem;
			}
			&__img {
				height: 50%;
			}
			.imganime {
				height: 50%;
			}
		}
		.actioncardsaboutus {
			// transform: rotateY(360deg);
			opacity: 1;
		}
	}
	.sectionoffer {
		padding: 2em 2em 2em 2em;
		height: 100vh;
		.offer {
			padding: 0em 2em;
			&__text {
				margin-bottom: 2em;
				&--heading {
					font-size: 3.6rem;
				}
				&--list {
					ul {
						li {
							font-size: 2rem;
						}
					}
				}
			}
			&__img {
				img {
					box-shadow: 0.3em 0.3em 0em var(--color-red);
				}
			}
		}
	}
	.sectiongallery {
		height: 100vh;
		.photoswiper {
			top: 30%;
			width: 80%;
			height: 60%;
		}
		.swiper-pagination {
			bottom: 15%;
		}
		.videoswiper {
			top: 30%;
			width: 80%;
			height: 60%;
		}
		.swiper-slide {
			.xmark {
				top: 2%;
				right: 2%;
			}
		}

		.video {
			.xmarkvideo {
				top: 2%;
				right: 2%;
			}
		}
	}

	.sectioncontact {
		padding: 4em 2em 2em 2em;
		height: 100vh;
		.boxcontact {
			.msgstatus {
				width: 83%;
				top: 20%;
			}
		}
	}

	footer {
		.footercompany {
			padding-left: 2em;
			img {
				width: 20%;
			}
		}
		.footerproducer {
			.contact {
				width: 50%;
			}
		}
	}
}
