@media (min-width: 768px) {
	nav {
		.wrapper {
			position: relative;
			.logo {
				a {
					img {
						width: 25%;
						height: 25%;
					}
				}
			}
			.language {
				width: 5%;
				left: 15%;
			}
			.navbar {
				position: relative;
				flex-direction: row;
				width: 65%;
				height: 100%;
				top: 0;
				padding: 0;
				background: transparent;
				transform: translateX(0%);
				a {
					font-size: 2.2rem;
				}
			}
			.burger {
				display: none;
			}
		}
	}

	.sectionhome {
		padding: 8em 2em 4em 2em;
		.cards {
			width: 60%;
			align-self: start;
			padding: 0.4em;
			overflow: hidden;
			&__cardone {
				justify-content: space-between;
				transition: transform 0.3s, opacity 1s ease-in-out;
				&--img {
					width: 40%;
					height: 40%;
					margin-bottom: 0.2em;
					.imgcardone {
						width: 160%;
						height: 160%;
					}
				}
				&--heading {
					font-size: 4.8rem;
					margin-bottom: 0.4em;
				}
			}
			&__cardtwo {
				justify-content: space-between;
				transition: transform 0.3s, opacity 1s ease-in-out;
				&--img {
					width: 40%;
					height: 40%;
					margin-bottom: 0.2em;
					.imgcardtwo {
						width: 160%;
						height: 160%;
					}
				}
			}
		}
	}
}
