@media (max-width: 576px) {
	nav {
		.wrapper {
			padding: 0em 1em;
			justify-content: space-around;
			.logo {
				position: absolute;
				left: 5%;
				width: 40%;
				height: 40%;
			}
			.language {
				position: absolute;
				left: 23%;
				width: 15%;
			}
			.burger {
				position: absolute;
				right: 4%;
				z-index: 10;
			}
		}
	}
	main {
		.cookie {
			width: 70%;
			top: 83%;
		}
	}
	.sectionhome {
		height: 100vh;
		padding: 4.8em 0.8em 1em 0.8em;
		.cards {
			width: 100%;
			&__cardone {
				height: 47%;
				&--img {
					height: 30%;
				}
				&--text {
					font-size: 1.2rem;
				}
			}
			&__cardtwo {
				height: 47%;
				&--heading {
					font-size: 2rem;
				}
				&--text {
					font-size: 1.2rem;
				}
				&--btn {
					margin-top: 1.2em;
				}
			}
		}
	}
	.sectionaboutus {
		// flex-direction: column;
		height: 100%;
		padding: 6em 2em 2em 2em;
		.cardabout {
			width: 100%;
			height: 400px;
			margin: 0em 0em 1.8em 0em;
			&__heading {
				font-size: 3rem;
			}
			&__text {
				font-size: 1.8rem;
			}
		}
	}

	.sectionoffer {
		height: 100vh;
		padding: 2em 2em 2em 2em;
		.offer {
			width: 90%;
			&__text {
				&--heading {
					font-size: 2rem;
					margin-bottom: 1.4em;
				}
				&--list {
					ul {
						margin-bottom: 1.2em;
						li {
							margin-bottom: 1.2em;
							padding-bottom: 0.6em;
							font-size: 1.2rem;
						}
					}
				}
			}
			&__img {
				.actionofferzero {
					transform: scale(1);
				}
			}
		}
	}

	.sectiongallery {
		height: 100vh;
		.text {
			width: 100%;
			&__info {
				font-size: 1.8rem;
			}
		}
		.fotogallery {
			.photo {
				width: 100%;
			}
			.video {
				width: 100%;
			}
		}
		.swiper-slide {
			h3 {
				font-size: 2rem;
			}
			.xmark {
				font-size: 3rem;
			}
		}
		.swiper-pagination {
			bottom: 17%;
		}
		.video {
			.xmarkvideo {
				font-size: 2em;
			}
		}
		.pagination {
			bottom: 30%;
		}
	}

	.sectioncontact {
		height: 100vh;
		padding: 4em 2em 2em 2em;
		.boxcontact {
			&__heading {
				font-size: 1.8rem;
			}
			.contactform {
				// height: 40%;
				.contactbox {
					margin-bottom: 0.2em;
					label {
						font-size: 1.4rem;
					}
					input {
						padding: 0.4em;
						font-style: 1rem;
						margin-bottom: 0.2em;
						font-size: 1.4rem;
					}
					textarea {
						min-height: 120px;
						max-height: 100px;
						font-size: 1.4rem;
						margin-bottom: 0.2em;
					}
					p {
						font-size: 1.4rem;
						margin-bottom: 0.2em;
					}
				}
			}
			.msgstatus {
				width: 75%;
				height: 40px;
				top: 22%;
				font-size: 1.6rem;
			}
		}
	}

	footer {
		padding: 2em 0.6em;
		.footercompany {
			padding-left: 0;
			img {
				width: 30%;
			}
			&__text {
				font-size: 1.2rem;
			}
		}
		.footerproducer {
			&__text {
				font-size: 1.2rem;
			}
			&__info {
				font-size: 1.2rem;
			}
			.contact {
				width: 100%;
				a {
					font-size: 1rem;
				}
			}
		}
	}
}
