@media (max-width: 576px) {
	body {
		background-position: 60% 30%;
	}

	nav {
		.wrapper {
			padding: 0em 0.4em;
			.logo {
				width: 40%;
				height: 40%;
				margin-right: 1.6em;
				a {
					img {
						width: 28%;
						height: 28%;
					}
				}
			}
			.language {
				left: 17%;
				width: 15%;
			}
			.burger {
				position: absolute;
				right: 5%;
			}
		}
	}
	.sectionhome {
		padding: 5em 0.6em 1em 0.6em;
		.cards {
			width: 100%;
			&__cardone {
				padding: 0.8em;
				height: 48%;
				&--text {
					font-size: 1.2rem;
				}
			}
			&__cardtwo {
				padding: 0.8em;
				height: 48%;
				&--text {
					font-size: 1.2rem;
				}
			}
		}
	}
}
