@media (max-width: 576px) {
	nav {
		.wrapper {
			padding: 0em 1em;
			justify-content: space-around;
			.logo {
				position: absolute;
				left: 5%;
				width: 30%;
				height: 30%;
			}
			.language {
				position: absolute;
				left: 17%;
				width: 10%;
			}
			.burger {
				// position: absolute;
				// right: 4%;
				// z-index: 10;
			}
		}
	}
}
