@media (min-width: 1200px) {
	nav {
		.wrapper {
			.logo {
				width: 25%;
				height: 25%;
			}
			.language {
				left: 12%;
				width: 4%;
			}
		}
	}
	.sectionhome {
		padding: 6em 2em 2em 2em;
		.cards {
			padding: 0.4em;
			&__cardone {
				padding: 3em;
				height: 47%;
				&--img {
					margin-bottom: 1.2em;
				}
				&--heading {
					font-size: 6rem;
				}
				&--text {
					font-size: 1.8rem;
				}
			}
			&__cardtwo {
				padding: 3em;
				height: 47%;
				&--img {
					margin-bottom: 1.2em;
				}
				&--text {
					font-size: 1.8rem;
				}
			}
		}
	}
}
