@media (min-width: 1400px) {
	nav {
		.wrapper {
			.logo {
				max-width: 18%;
				max-height: 18%;
			}
			.language {
				left: 10%;
				width: 5%;
			}
			.navbar {
				width: 50%;
			}
		}
	}
	.sectionhome {
		padding: 6em 2em 2em 8em;
		.cards {
			width: 40%;
			padding: 0.4em;
			overflow: hidden;
			&__cardone {
				&--img {
					margin-bottom: 1.2em;
				}
				&--heading {
					font-size: 6rem;
				}
				&--text {
					font-size: 1.8rem;
				}
			}
			&__cardtwo {
				padding: 3em;
				height: 47%;
				&--img {
					margin-bottom: 1.2em;
				}
				&--text {
					font-size: 1.8rem;
				}
			}
		}
	}

	.sectionaboutus {
		padding: 6em 1em 1em 1em;
		flex-direction: row;
		.cardabout {
			width: 20%;
			height: 70%;
			&__img {
				height: 50%;
			}
			.imganime {
				height: 50%;
			}
		}
	}
}
