@media (min-width: 1400px) {
	nav {
		.wrapper {
			.logo {
				max-width: 16%;
				max-height: 16%;
			}
			.language {
				left: 10%;
				width: 5%;
			}
			.navbar {
				width: 50%;
			}
		}
	}
	main {
		.cookie {
			width: 20%;
		}
	}
	.sectionhome {
		padding: 6em 2em 2em 8em;
		.cards {
			width: 42%;
			padding: 0.4em;
			overflow: hidden;
			&__cardone {
				&--img {
					margin-bottom: 0.4em;
					// height: 80%;
				}
				&--heading {
					font-size: 6rem;
				}
				&--text {
					font-size: 1.8rem;
				}
			}
			&__cardtwo {
				// padding: 3em;
				height: 47%;
				&--text {
					font-size: 1.8rem;
				}
			}
		}
	}

	.sectionaboutus {
		padding: 6em 1em 1em 1em;
		flex-direction: row;
		.cardabout {
			width: 20%;
			height: 70%;
			&__img {
				height: 50%;
			}
			.imganime {
				height: 50%;
			}
		}
	}
	.sectionoffer {
		.offer {
			&__text {
				&--heading {
					font-size: 4.6rem;
				}
				&--list {
					ul {
						li {
							font-size: 2.2rem;
							margin-bottom: 0.6em;
						}
					}
				}
			}
			&__img {
				width: 30%;
				img {
					height: 45%;
				}
			}
		}
	}

	.sectiongallery {
		.text {
			width: 50%;
		}
		.fotogallery {
			display: flex;
			flex-direction: row;
			width: 90%;
			.photo {
				width: 47%;
				height: 70%;
			}
			.video {
				width: 47%;
				height: 70%;
			}
		}
		.photoswiper {
			top: 30%;
			width: 70%;
			height: 65%;
		}
		.videoswiper {
			top: 30%;
			width: 70%;
			height: 65%;
		}
	}
	.sectioncontact {
		padding: 4em 2em 4em 2em;
		.boxcontact {
			&__heading {
				font-size: 4.6rem;
			}
			.contactform {
				.contactbox {
					width: 70%;
					p {
						margin-bottom: 0.2em;
					}
				}
				.btncontact {
					width: 70%;
				}
			}
			.msgstatus {
				top: 22%;
				width: 67.75%;
			}
		}
	}

	footer {
		.footercompany {
			justify-content: center;
			img {
				width: 11%;
			}
		}
		.footerproducer {
			.contact {
				width: 28%;
			}
		}
	}
}
