@import './components';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-light: #f3f6f4;
	--color-lightmore: #b7b7b7;
	--color-red: #d00606;
	--color-darkred: #990000;
	--color-rederrors: rgba(51, 0, 0, 0.6);
	--color-darklight: #1d1d1d;
	--color-darklightopacity: rgba(29, 29, 29, 0.8);
	--color-darkone: #111111;
	--color-darktwo: #000000;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.6rem;
}

nav {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	z-index: 100;

	.wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0em 3em;
		background-color: var(--color-darklight);
		border-bottom: 0.04em solid var(--color-red);
		.logo {
			width: 28%;
			height: 28%;
			margin: 0.4em 0em 0em 0em;
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				img {
					width: 35%;
					height: 35%;
				}
			}
		}

		.language {
			position: absolute;
			left: 20%;
			width: 9%;
			display: flex;
			justify-content: space-between;
			a {
				text-decoration: none;
				color: var(--color-light);
			}
			.red {
				color: var(--color-red);
			}
		}

		.navbar {
			width: 100%;
			height: 100vh;
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			padding: 8em 0em 12em 0em;
			top: 60px;
			left: 0;
			background-color: var(--color-darklight);
			transform: translateX(100%);
			transition: transform 0.3s ease-in-out;
			z-index: 100;
			&__link {
				position: relative;
				color: var(--color-light);
				font-size: 1.6em;
				text-decoration: none;
				padding-bottom: 0.1em;
				margin: 0.2em 0;
				transition: border-bottom 0.3s ease-in-out;
				display: flex;
				justify-content: center;
				&::before {
					position: absolute;
					content: '';
					border-bottom: 0.08em solid var(--color-red);
					width: 0%;
					bottom: 0;
					transition: width 0.3s ease-in-out;
				}
				&:hover::before {
					width: 100%;
				}
				&:hover {
					color: var(--color-red);
				}
			}
		}

		.actionnav {
			transform: translateX(0);
		}

		.burger {
			font-size: 3rem;
			padding: 0.4em;
			color: var(--color-light);
			cursor: pointer;
			.hide {
				display: none;
			}
		}
	}
}

// ---- HOME ----

.sectionhome {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 6em 2em 2em 2em;
	.cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		width: 90%;
		height: 820px;
		padding: 1em;
		&__cardone {
			width: 90%;
			height: 47%;
			padding: 1em;
			margin-bottom: 1.2em;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: space-around;
			background-color: var(--color-darklightopacity);
			transform: translateX(150%);
			opacity: 0;
			transition: all 0.7s ease-in-out;
			&--img {
				height: 60%;
				width: 100%;
				// margin-bottom: 0.8em;
				display: flex;
				align-items: center;
				justify-content: center;
				.imgcardone {
					height: 100%;
					object-fit: cover;
					transform: scaleX(0);
					transition: transform 0.2s ease-in-out;
				}
				.imgcardoneview {
					transform: scaleX(1);
				}
			}
			&--heading {
				font-size: 5.6rem;
				color: var(--color-lightmore);
				margin-bottom: 0.8em;
			}
		}
		&__cardtwo {
			width: 90%;
			height: 47%;
			padding: 1em;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: space-between;
			background-color: var(--color-darklightopacity);
			transform: translateX(-150%);
			opacity: 0;
			transition: all 0.7s ease-in-out;
		}
		.actioncards {
			transform: translateX(0%);
			opacity: 1;
		}
	}
}

// ---- ABOUT US ----

.sectionaboutus {
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 4em 2em 2em 2em;
	.cardabout {
		position: relative;
		width: 70%;
		height: 300px;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: space-between;
		margin: 1em;
		padding: 1.4em;
		border: 0.02em solid var(--color-red);
		// transition: background-color 3s ease-in-out;
		&:hover {
			background-color: var(--color-rederrors);
		}
		&__heading {
			font-size: 2.8rem;
			color: var(--color-light);
		}
		&__img {
			width: 100%;
			height: 40%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.imganime {
			width: 100%;
			height: 40%;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.btnanime {
			position: absolute;
			width: 70%;
			bottom: 10%;
		}
	}
}

// ---- OFFER ----

.sectionoffer {
	height: 100%;
	padding: 6em 2em 2em 2em;
	.offer {
		width: 100%;
		height: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		&__text {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			&--heading {
				font-size: 2.8rem;
				color: var(--color-light);
				margin-bottom: 3rem;
			}
			&--list {
				width: 100%;
				color: var(--color-light);
				ul {
					li {
						font-size: 1.8rem;
						margin-bottom: 1.2em;
						padding-bottom: 0.4em;
						border-bottom: 0.02em solid var(--color-red);
					}
				}
			}
		}
		&__img {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			img {
				width: 45%;
				height: 100%;
				object-fit: cover;
				border: 0.02em solid var(--color-red);
				box-shadow: 0.1em 0.1em 0em var(--color-red);
				transform: scale(0);
				transition: transform 0.7s ease-in-out;
			}
			.actionofferone {
				transform: scale(1);
			}
		}
	}
}

// ---- GALLERY ----

.sectiongallery {
	position: relative;
	height: 100%;
	padding: 6em 2em 2em 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	.text {
		display: flex;
		width: 70%;
		justify-content: center;
		align-items: center;
		text-align: center;
		&__info {
			font-size: 2.2rem;
		}
	}
	.fotogallery {
		width: 100%;
		height: 70%;
		display: flex;
		margin: 1em;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		.photo {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 70%;
			height: 43%;
			margin-bottom: 1em;
			transform: translateX(-150%);
			cursor: pointer;
			transition: transform 0.3s ease-in-out;
			&:hover {
				border: 0.02em solid var(--color-red);
				box-shadow: 0.1em 0.1em 0em var(--color-red);
			}
			&__main {
				position: relative;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&__text {
				position: absolute;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 2.8rem;
				color: var(--color-light);
				z-index: 1;
			}
			&__shadow {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				background-color: var(--color-darklightopacity);
			}
		}
		.actionphotomain {
			transform: translateX(0);
		}

		.video {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 70%;
			height: 43%;
			transform: translateX(150%);
			cursor: pointer;
			transition: transform 0.3s ease-in-out;
			&:hover {
				border: 0.02em solid var(--color-red);
				box-shadow: 0.1em 0.1em 0em var(--color-red);
			}
			&__main {
				position: relative;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&__text {
				position: absolute;
				font-size: 2.8rem;
				color: var(--color-light);
				z-index: 1;
			}
			&__shadow {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				background-color: var(--color-darklightopacity);
			}
		}
		.actionvideomain {
			transform: translateX(0);
		}
	}

	.photoswiper {
		position: absolute;
		top: 40%;
		width: 80%;
		height: 40%;
		visibility: hidden;
	}

	.swiper-slide {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		h3 {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0.4em;
			bottom: 0;
			font-size: 3rem;
			width: 100%;
			color: var(--color-light);
			font-weight: 200;
			background-color: var(--color-darklightopacity);
		}
		.xmark {
			position: absolute;
			top: 5%;
			right: 5%;
			font-size: 4rem;
			color: var(--color-darkone);
			cursor: pointer;
			transition: color 0.3s ease-in-out;
			&:hover {
				color: var(--color-red);
			}
		}
	}

	.swiper-button-next,
	.swiper-button-prev {
		color: var(--color-darklight);
		&:hover {
			color: var(--color-red);
		}
	}

	.swiper-pagination {
		bottom: 20%;
	}
	.swiperaction {
		visibility: visible;
	}

	// -----------------------------

	.videoswiper {
		position: absolute;
		top: 40%;
		width: 85%;
		height: 40%;
		visibility: hidden;
	}

	.video {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		video {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.xmarkvideo {
			position: absolute;
			top: 5%;
			right: 5%;
			font-size: 4rem;
			color: var(--color-darkone);
			cursor: pointer;
			transition: color 0.3s ease-in-out;
			&:hover {
				color: var(--color-red);
			}
		}
	}

	.next,
	.prev {
		color: var(--color-darklight);
		&:hover {
			color: var(--color-red);
		}
	}

	.swiper-pagination {
		bottom: 20%;
	}
	.videoaction {
		visibility: visible;
	}
}

// ---- CONTACT ----

.sectioncontact {
	position: relative;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8em 2em 2em 2em;
	.boxcontact {
		// position: relative;
		width: 100%;
		height: 85%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		&__heading {
			font-size: 2.8rem;
			color: var(--color-light);
		}
		.contactform {
			// position: relative;
			width: 100%;
			height: 70%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			.contactbox {
				width: 90%;
				display: flex;
				flex-direction: column;
				align-items: center;
				margin-bottom: 0.8rem;
				label {
					width: 100%;
					display: flex;
					align-self: flex-start;
					color: var(--color-light);
					margin-bottom: 0.4em;
					font-size: 1.8rem;
				}
				input {
					width: 100%;
					padding: 0.6em;
					margin-bottom: 0.8em;
					font-size: 1.8rem;
					color: var(--color-light);
					background-color: var(--color-darklightopacity);
					border: 0.02em solid var(--color-red);
				}
				textarea {
					min-width: 100%;
					max-width: 100%;
					min-height: 150px;
					max-height: 150px;
					padding: 0.6em;
					margin-bottom: 0.8em;
					font-size: 1.8rem;
					color: var(--color-light);
					border: 0.02em solid var(--color-red);
					background-color: var(--color-darklightopacity);
				}
				.backerror {
					background-color: var(--color-rederrors);
					border: 0.02em solid var(--color-light);
				}
				p {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 1em;
					font-weight: bold;
					font-size: 2.8rem;
					color: var(--color-red);
					visibility: hidden;
				}
				.actionerror {
					visibility: visible;
				}
			}
			.btncontact {
				width: 90%;
				display: flex;
				justify-content: space-between;
				.btnsend,
				.btnclean {
					width: 45%;
					padding: 0.4em 0;
					font-size: 1.4rem;
					text-transform: uppercase;
					color: var(--color-light);
				}
			}
		}
		.msgstatus {
			position: absolute;
			visibility: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 10;
			width: 82%;
			height: 50px;
			top: 9%;
			color: var(--color-light);
			font-size: 3rem;
			background-color: var(--color-darklightopacity);
			border: 0.02em solid var(--color-red);
		}
		.sendsuccess {
			visibility: visible;
		}
		.senderror {
			visibility: visible;
			background-color: var(--color-red);
			border: 0.02em solid var(--color-light);
		}
	}
}
footer {
	width: 100%;
	height: 80px;
	padding: 2em 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.footercompany {
		padding-left: 1em;
		display: flex;
		align-items: center;
		width: 47%;
		img {
			width: 25%;
			object-fit: cover;
		}
		&__text {
			color: var(--color-lightmore);
			font-size: 2rem;
		}
	}
	.footerproducer {
		width: 52%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&__text {
			font-size: 1.4rem;
		}
		&__info {
			font-size: 1.4rem;
			color: var(--color-lightmore);
		}
		.contact {
			display: flex;
			width: 80%;
			align-items: center;
			justify-content: space-between;
			margin-top: 0.2em;
			a {
				text-decoration: none;
				color: var(--color-light);
				transition: color 0.2s ease-in-out;
				&:hover {
					color: var(--color-red);
				}
			}
		}
	}
}

@import './small';
@import './medium';
@import './large';
@import './xlarge';
@import './xxlarge.scss';
